<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Purchase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <div style="background-color:#f9f9f9; text-align: center; display: inline-block; ">
        <img src="https://i.ibb.co/XLJnHKs/logo.png" alt="Endava_Logo" ,border="0">
        <h1>Candidate:</h1>
        <h2>Information:</h2>
        <%for (const prop in candidate){%>
            <p><%=prop%>: <%=candidate[prop]%></p>
        <% } %>

        <h2>HHRR Interview:</h2>
        <%HHRR.forEach((field)=> {%>
            <%for (const prop in field){%>
                <p><%=prop%>: <%=field[prop]%></p>
            <% } %>
            <p>-----------------------------------</p>
        <%})%>
        
        <h2>System Interview:</h2>
        <%SYS.forEach((field)=> {%>
            <%for (const prop in field){%>
                <p><%=prop%>: <%=field[prop]%></p>
            <% } %>
            <p>-----------------------------------</p>
        <%})%>
</body>

</html> 